body {
    font-family: 'JetBrains Mono';
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-header {
  /* text-align: center; */
}

p {
  text-align: justify;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(12px / 2);
    padding: 0 16px;
}
