body {
    font-family: 'JetBrains Mono';
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-header {
  /* text-align: center; */
}

p {
  text-align: justify;
}

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}
